<!DOCTYPE html>
<html>
<title>1337CTF</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <style>
        #grad1 {
          height: 300px;
          width: 100%;
          background-color: red; /* For browsers that do not support gradients */
          background-image: linear-gradient(to right, blue , green);
          border: 2px solid red;
         
        }
        body, h2 {
          font-family: serif;
         }
        .ctfchall {
            border: 2px solid red;
            font-family: serif;
         }
         
    </style>

    <br />

    <div class="w3-container w3-bar">

        <div class="w3-display-container w3-green" id="grad1" style="height:30px;">

            <div class="w3-display-left w3-padding"><a href="/login">login</a></div>
            <div class="w3-display-right w3-padding">register</div>
            <div class="w3-display-middle w3-padding">1337CTF</div>

        </div>
    </div>

    <div class="w3-row w3-container">
        <p>Pwn</p>
        {% for chall in pwn %}
        <div class="w3-col s4 w3-container w3-center ">
            <div class="w3-green ctfchall">
                <br />
                <h2>{{ chall['name'] }}</h2>
                <p>{{ chall['desc'] }}</p>
                <p>Challenge files</p>
                <input type="text" />
                <br />
                <br />
            </div>
        </div>
        {% endfor %}
        <div class="w3-col s4 w3-container w3-center ">
            <div class="w3-green ctfchall">
                <br />
                <h2>Challenge Title</h2>
                <p>Challenge Description</p>
                <p>Challenge files</p>
                <input type="text" />
                <br />
                <br />
            </div>
        </div>

        <div class="w3-col s4 w3-container w3-center ">
            <div class="w3-green ctfchall">
                <br />
                <h2>Challenge Title</h2>
                <p>Challenge Description</p>
                <p>Challenge files</p>
                <input type="text" />
                <br />
                <br />
            </div>
        </div>

    </div>
</body>

</html>
