<!DOCTYPE html>
<html>
<title>plshack me</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-bar w3-border w3-light-grey">

  <a href="#" class="w3-bar-item w3-button">pr0 haxx0r ctf platform</a>

  <a href="#" class="w3-bar-item w3-button w3-green w3-right">1337 ppl only</a>
</div> 

<div class="w3-container">
<br />
<form class="w3-container w3-card">
  <p>
  <label>real email (no burner allowed)</label>
  <input class="w3-input" type="text"></p>
  <p>
  <label>password (must be same as other accoutns)</label>
  <input class="w3-input" type="password"></p>
  <input type="submit" value="Submit">

</form>
<br />
</div>
<div class="w3-container w3-teal">
  <p>"at least better than dunhack.me, a lot better. One of the best if not the best." - LiveOverflow</p>
</div>

</body>
</html> 