#grad1 {
  height: 300px;
  width: 100%;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, blue , green);
  border: 2px solid red;

}
.ctfchall {
  border: 2px solid red;
  font-family: serif;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}